body{
  margin: 0 auto;
  padding: 0;
  background-color: #202020;
  font-family: sans-serif;
  color:#fff;
  overflow:auto;}
footer {
  bottom: 0;
  left: 0;
  padding: 40px;
  background:rgba(25,25,25,0.8);
  text-align: center;
  margin:0 auto;}
.btnlm{
    display: block;
    width: 175px;
    margin:0 auto;
    margin-top: 55px;
    background-color: transparent;
    transition: 1s;
    color:#fff;
    border: 1px solid #2891ff;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;}
.btnlm:hover{
    background-color: rgba(40,165,255,0.6);
  }
a{text-decoration: none;color:#fff;}
h1{
  font-size: 40pt;
  color:#28a5ff;
  text-shadow: 0.2vh 0.2vh 0.5vh #222;}
header{
  margin: 0;
  padding:0;
  display:flex;
  display:-webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  justify-content:center;
  background-color:#111;}
.boxshadow{box-shadow: -1px 1px 2px #444;}
.header{
  margin: 0 auto;
  padding: 65px;
  text-align: center;}
.description{
  text-align:center;
  padding:10px;
  border-radius: 10px;}
img#logo{max-width: 275px;max-height: 275px;}
.content{max-width: 100%;}
.wrapper{max-width: 80%;}
.center{margin:0 auto;text-align: center;}
.media{max-height:500px;}
.mediabox{
  min-width: 30%;
  max-width:35%;
  height: 428px;
  min-height:100%;
  display:inline-block;
  position: relative;
  text-align: center;
  margin: 7px;}
.banner{
  min-width: 100%;
  max-height:65px;
  height:60px;
  position: absolute;
  color:#fff;}
.social{
  width: 100%;
  height: 100%;
  position: absolute;
  margin-top: 57px;}
.brand{
  height: 55px;
  width: 55px;}
.twitter{background-color: #1DA1F2;}
.youtube{background-color:#cd201f;}
.reddit{background-color: #ffa500;}
